body {
	margin: 0;
	padding: 0;
	font-family: Georgia;
	overflow: hidden;
}

h1 {
	margin: 0;
	padding: 0;
}

.app {
	padding: 30px;
	width: 500px;
	margin: 0 auto;

	.header {
		position: relative;

		header {
			color: #bbada0;

			h1 {
				font-size: 108px;
			}
			span {
				position: relative;
				top: -20px;
				left: 5px;
				font-size: 10px;
				letter-spacing: 2.6px;
			}
		}

		.indicators {
			position: absolute;
			top: 6px;
			right: 0;
			color: white;

			> div {
				display: inline-block;
				margin-left: 6px;
				padding: 6px 12px;
				background: #bbada0;
				border-radius: 2px;

				span {
					display: block;
					text-align: center;

					&:first-child {
						opacity: 0.75;
						font-size: 12px;
					}

					&:last-child {
						font-size: 26px;
					}
				}
			}
		}

		.new-game {
			position: absolute;
			right: 0;
			top: 90px;
			padding: 6px 12px 6px 12px;
			width: 132px;
			background: #8f7a66;
			color: white;
			border-radius: 2px;
			cursor: pointer;
			user-select: none;
			white-space: nowrap;

			span {
				display: inline-block;

				&.size {
					margin-left: 6px;
				}

				&.up,
				&.down {
					position: absolute;
					top: 0;
					right: 0;
					height: 14px;
					width: 15px;
					height: 15px;
					text-align: center;
					line-height: 22px;
					background: #4e4237;

					&.down {
						top: auto;
						bottom: 0;
						transform: rotate(180deg);
					}
				}
			}
		}
	}

	.grid {
		position: relative;
		margin-top: 30px;
		width: 500px;
		height: 500px;
		background: #bbada0;
		border-radius: 6px;

		.background {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 1;

			> div {
				position: absolute;
				background: #cdc0b4;
				border-radius: 2px;
			}
		}

		.game-layer {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 2;

			> div {
				display: flex;
				justify-content: center;
				flex-direction: column;
				position: absolute;
				text-align: center;
				background: #eee4da;
				border-radius: 2px;
				white-space: nowrap;
				font-family: sans-serif;
				font-weight: bold;
				color: black;
				background: white;
				text-shadow: 0px 0px 1px;
				$duration: 0.25s;
				transition: top $duration, left $duration, background $duration / 4 $duration, color $duration / 4 $duration, font-size $duration / 4 $duration;

				&.appearing {
					animation: appear $duration * 2;
				}

				&.moving {

				}

				&.destroying {
					transition: top $duration, left $duration, transform 0s $duration, opacity 0s $duration;
					transform: scale(0);
					opacity: 0;
				}

				&.incrementing {
					animation: increment $duration * 2;
				}

				&[data-value="2"] {
					background: #eee4da;
					color: #776e65;
				}
				&[data-value="4"] {
					background: #ede0c8;
					color: #776e65;
				}
				&[data-value="8"] {
					background: #f2b179;
					color: white;
				}
				&[data-value="16"] {
					background: #f59563;
					color: white;
				}
				&[data-value="32"] {
					color: #f9f6f2;
					background: #f67c5f;
				}
				&[data-value="64"] {
					color: #f9f6f2;
					background: #f65e3b;
				}
				&[data-value="128"] {
					color: #f9f6f2;
					background: #edcf72;
				}
				&[data-value="256"] {
					color: #f9f6f2;
					background: #edcc61;
				}
				&[data-value="512"] {
					color: #f9f6f2;
					background: #810e0e;
				}
				&[data-value="1024"] {
					color: #f9f6f2;
					background: #810e59;
				}
				&[data-value="2048"] {
					color: #f9f6f2;
					background: #000;
				}
			}
		}
	}

}


@keyframes appear {
	from {
		transform: scale(0);
	}
	50% {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@keyframes increment {
	from {
		transform: scale(1);
	}
	50% {
		transform: scale(1);
	}
	75% {
		transform: scale(1.15);
	}
	to {
		transform: scale(1);
	}
}
